<%= render 'shared/navbar' %>

<div class="flex-column d-flex justify-content-evenly">

  <div class="banner background grain outer-scratch">
    <div class="h1-1 glitch"> Your Beautiful </div>
    <p class="glitch">and fancy</p>
    <div class="h1-2 glitch inner-scratch">Movie's List App</div>
  </div>

  <button class="fancy-button">
    <%= link_to "Make a New List", new_list_path %>
    <div class="button__horizontal"></div>
    <div class="button__vertical"></div>
  </button>

</div>

<%= render 'shared/footer' %>
