<%= render 'shared/navbar' %>

<div class="d-flex flex-column">

  <div class="banner background grain outer-scratch">
    <div class="h1-1 glitch"> Your Beautiful </div>
    <p class="glitch">and fancy</p>
    <div class="h1-2 glitch inner-scratch">Movie's List App</div>
  </div>

  <div class="list-banner">
    <div>
      <button class="fancy-button">
        <%= link_to "New List", new_list_path %>
        <div class="button__horizontal"></div>
        <div class="button__vertical"></div>
      </button>
    </div>

  </div>



</div>

<%= render 'shared/footer' %>
