<%= render 'shared/navbar' %>

<div class="d-flex flex-column">

  <div class="banner">
    <div class="banner-kid">
      <h1> Your Beautiful </h1>
      <p>and fancy</p>
      <h1><strong>Movie's List App</strong></h1>
    </div>
  </div>

  <div class="list-banner">
    <div>
      <button class="fancy-button">
        <%= link_to "New List", new_list_path %>
        <div class="button__horizontal"></div>
        <div class="button__vertical"></div>
      </button>
    </div>

    <div class="cards">
      <div class="row my-4 d-flex flex-wrap">
        <% @lists.each do |list| %>
        <div class="col-sm-12 col-md-4">
          <div class="card-category m-3 posters">
            <%= link_to list.name.upcase, list_path(list), class: 'text-decoration-none margin: 10px text-white' %>
          </div>
        </div>
        <% end %>
      </div>
    </div>

  </div>

</div>
