<div class="header">
	<a href="https://www.youtube.com/c/ShortCode" target="_blank" class="logo">Short Code</a>
	<ul>
		<li><a href="https://www.youtube.com/c/ShortCode" target="_blank">Home</a></li>
		<li><a href="https://www.youtube.com/c/ShortCode" target="_blank">My lists</a></li>
		<li><a href="https://www.youtube.com/c/ShortCode" target="_blank">New List</a></li>
		<li><a href="https://www.youtube.com/c/ShortCode" target="_blank">Portfolio</a></li>
		<li><a href="https://www.youtube.com/c/ShortCode" target="_blank">Contact</a></li>
	</ul>
</div>
<section class="banner"></section>
