<div class="header">
	<a href="https://www.youtube.com/c/ShortCode" target="_blank" class="logo raise">Rails Watch List</a>
	<ul>
		<li class="raise"><a href="https://www.youtube.com/c/ShortCode" target="_blank">Home</a></li>
		<li class="raise"><a href="https://www.youtube.com/c/ShortCode" target="_blank">My lists</a></li>
		<li class="raise"><a href="https://www.youtube.com/c/ShortCode" target="_blank">New List</a></li>
		<li class="raise"><a href="https://www.youtube.com/c/ShortCode" target="_blank">Portfolio</a></li>
		<li class="raise"><a href="https://www.youtube.com/c/ShortCode" target="_blank">Contact</a></li>
	</ul>
</div>
