<head>
  <script src="/home/sayonara/code/sayow/rails-watch-list/app/assets/js/navbar.js"></script>
</head>

<body>
  <div class="header">
    <a href="https://www.youtube.com/c/ShortCode" target="_blank" class="logo raise">Rails Watch List</a>
    <ul class= "justify-content-evenly">
      <li class="raise"><a href="" target="_blank">Home</a></li>
      <li class="raise"><a href="" target="_blank">My lists</a></li>
      <li class="raise"><%= link_to "New List", new_list_path %></li>
      <li class="raise"><a href="https://www.notion.so/sayow/Sayonara-Almeida-Web-Development-bcdb6d5a076b4d3ea1bc418b37134d68" target="_blank">Portfolio</a></li>
      <li class="raise"><a href="" target="_blank">Contact</a></li>
    </ul>
  </div>
</body>
