.banner {
  color: #fff;
  font-size: 2.5rem;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.1);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: 'Limelight', cursive;
}

.banner div {
  position: absolute;
  left: 10vw;
  width: 80vw;
  opacity: 0;
  margin: 15% auto;
}
