.list-banner {
  height: 120px;
  width: 1000px;
  background-position: center;
  margin-right: auto;
  margin-bottom: 20px;
  margin-left: auto;
  margin-top: 20px;
  border-radius: 8px;
  box-shadow: 5px 5px 10px black;
  background-color: white;
}
